$mobile_px: 1300px;
$mobile_width: 95vw;

@mixin master-body-standards {
		height:100%;
		margin:auto;
		background-color:#ececec;
		margin-top: 1vh;
		margin-bottom:5vh;

		border-width:0.2em;
		border-color:#ececec;
		border-style:inset;
		border-radius:1em;

}

html, body{
	background-color:#f4f3f3;
}
hr{
	clear:both;
	margin-bottom: 0.5em;
}

#master{
	&-login, &-waiting{
		width:50vw;
		@include master-body-standards();
		@media (max-width:$mobile_px){
			width:$mobile_width;
		}
	}
	&-user, &-all {
		width:70vw;
		@include master-body-standards();
		@media (max-width:$mobile_px){
			width:$mobile_width;
		}

	}

	&-mod{
		width:90vw;
		@include master-body-standards();
		@media (max-width:$mobile_px){
			width:$mobile_width;
		}

	}
	
}

#upper-master{
	&-login, &-waiting, &-user, &-all, &-mod{
		max-height: 33%;
		background-color:white;
		#top-head{
			padding-left:1vh;
			h1{
				font-size:3.5vh;
			}
		}
		#patreon{
			height:16vh;
		}
		img{
			display:block;
			margin:auto;
			max-height:100%;
			max-width:100%;
		}
	}
}

#lower-master{
	&-login, &-waiting, &-user, &-all, &-mod{
		clear: both;
		#patreon{
			height:16vh;
		}
		img{
			display:block;
			margin:auto;
			max-height:100%;
			max-width:100%;
		}
	}

}

#mid-master, #lower-master{
	&-login, &-waiting, &-user, &-mod{
		min-height:33%;
	}	
}

#login-container, #user-container, #ad-create-container,#all-container, #mod-container{
	h2{
		display: inline;
		font-size:4vh;
		padding-left:1vw;
	}

	#si-button-container, #ad-button-container, #all-container, #mod-container{
		background-color:#e1e1e1;
		width: 50%;
		margin: auto;
		display: block;
		padding:2vh;
		border: 0.1px solid #c6c6c6;
		button{
			margin: auto;
			display: block;
			width:50%;
			font-size:1.3em;
			@media (max-width:$mobile_px){
				font-size:1.4em;
				width:100%;
			}
		}
	}

	#ad-button-container{
		width:65%;
		padding:0;
		margin-top: 2rem;
	}

}

#sign-in-, #create-, #ad-create-{
	&start{
		padding:1vh;
	}
	&finish{
	}
}

#create-form, #sign-form, #ad-create-form{
	background-color:#d9d5d5;
	padding: 0.5vh 1vw;
	overflow: hidden;
	transition:height 0.5s, opacity 0.5s;
	border: #bbb 0.1px dashed;
}
#ad-create-form{
	padding: 0.5vh 1vw;
	width: 70%;
	margin: auto;
	margin-top: 0.25em;
	margin-bottom: 0.1em;

}
#sample-banner{
	padding-bottom:1em;
}

#helper{
	h2{
	    font-size:4vh;
	    padding-left:1vw;
	}
	p{
		padding:0 3.5vmin;
		padding-bottom:1vh;
	}
}
#details-table, #ad-details-table, #mod-details-table{
	table{
		margin: 2rem auto;
		width: 65%;

		@media (max-width:$mobile_px){
        		width:90%;
		}
	}
	th{
		text-align:center !important;
	}
	.ad-th-del th{
		text-align:left !important;
	}

	.ad-td-img img{
	 	display:block;
	       	margin:auto;
		max-width:100%	
	}
}


#details-table {
	table{
	  margin: auto;
	}
}

	
#mod-details-table{
    table{
    	width:90%;
    }
}

#donation{
	padding: 2em;
}

#footer{
	margin:auto;
	display:block;
	text-align:center;
	font-size: 0.9em;
}

.iframe-banner{
	display: block;
	margin: auto;
	max-width:100%;
	border:none
}

.form-group{
	input, label{
		font-size:1em;
		color: #313131;
	}
}

.code{
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;	
	font-size: 0.9em;
	margin: auto;
	display: block;
	resize: none;
	width: 83%;
	background-color: #dfdddd;
	color: #a4a4a4;
	border: 0px solid #c4c4c4;
}

.popup-content{
	text-align: center;
	font-size: 1.1em;
}

.all-link, .mod-link{
	float: right;
	font-size: 1.5em;
	padding-right: 0.5em;
	a {
		color: #608cbb;
	}
}

.ad-td-url{
	word-break:break-word;
}
.ad-td-name{
	@media (max-width:$mobile_px){
		word-break:break-word;
	}
}
.ad-td-name, .ad-td-ban{
	text-align:center;
}



